/**
* online and offline icons from http://www.icons-land.com/
*/
.cq-sidekick-tab-icon-recorder,
.cq-switcher-icon-recorder-inactive,
.cq-switcher-icon-recorder,
.icon-recorder{
	background-image: url('icons/recorder.png');
}

.icon-recorder{
	background-repeat: no-repeat;
	background-size: 28px;
	background-position: 8px 8px;
}

.recorder-online{
	background-image: url('icons/online.png')
}

.recorder-offline{
	background-image: url('icons/offline.png')
}